<header>
        <h1> TinyURL App </h1>
</header> 

<% if (username) { %>

<form class="form-inline" method="POST" action="/logout">
        <div class="form-group mb-2">
                <label for="username">Logged in as:&nbsp;&nbsp; </label>
                <%= username.email %>
                <p>&nbsp;&nbsp;</p>
                <button type="submit" class="btn btn-primary">Logout</button>
        </div>
</form>
        
<% } else { %>

<form class="form-inline" method="GET" action="/login">
        <div class="form-group mb-2">
                 <button type="submit" class="btn btn-primary">Login</button>
        </div>
</form>

<form class="form-inline" method="GET" action="/register">
        <div class="form-group mb-2">
                 <button type="submit" class="btn btn-primary">Register</button>
        </div>
</form>

<% } %>
