<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:25px; padding:70px;">
    <!-- Add EJS code here -->
    <!-- a use ejs to display a list or table of the URLs and their shortended forms -->
    <h2> Your Tiny URL list </h2>
    <ul> 
      <% for (let key in URLs) { %>
        <a href='#'> Click to shorten URL</a>
        <li><%= `Short URL: ${key} Long URL: ${URLs[key]}` %></li>
        <% } %>
    </ul>
</body>
</html>