<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:25px; padding:70px;">
    <!-- Add EJS code here -->
    <!-- a use ejs to display a list or table of the URLs and their shortended forms -->
    <% include partials/_header.ejs %>
    <a class="btn btn-primary" href='/urls/new' role="button"> Create new TinyURL</a> <a class="btn btn-primary" href='/urls' role="button"> View created TinyURLs</a></div>
        <br>
        <ul> 
            <p><strong>TinyURL:</strong> <%= shortURL %> <strong> for </strong> <%= longURL %></p>
        </ul>
    </ul>
    <!-- update operation using a post request "use form" -->
    <form class="form-inline" action="/urls/<%= shortURL %>/edit" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Change current URL:</label>
          <input class="form-control" type="text" name="longURL" placeholder="http://" value="http://" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
</body>
</html>